.app {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	transition: all 100ms linear;
	color: #1fcf7d;

	&:hover {
		color: #1dff95;
	}
}

a:visited {
	color: #8d8d8d;
	text-decoration: none;
	transition: all 100ms linear;
	&:hover {
		color: #1dff95;
	}
}
