.footer {
	display: flex;
	flex-direction: row;
	column-gap: 30px;
	justify-content: center;
	color: #8d8d8d;
	text-align: center;
	padding-bottom: 30px;

	width: 100%;

	@media screen and (max-width: 550px) {
		flex-direction: column;
	}

	div {
		a {
			text-decoration: none;
			transition: all 100ms linear;
			color: #8d8d8d;
			margin-inline: 10px;

			&:hover {
				color: #31f399;
			}
		}

		a:visited {
			color: #8d8d8d;
			text-decoration: none;
			transition: all 100ms linear;
			&:hover {
				color: #31f399;
			}
		}
	}
}
